/* Сброс стилей для основных элементов */
body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Устанавливаем Inter 400 как основной шрифт */
    background-color: #1e1e1e;
  }
  
  h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
  }
  /* Стиль для шапки */
.header {
    padding: 24px 20px;
  }
  
  /* Стиль для секции cover */
  .cover {
    padding: 40px 10px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .cover h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Стиль для секции intro */
  .intro {
    /* Здесь будут стили для секции intro */
    padding: 20px 30px; /* Пример */
  }
  /* Стиль для всех секций с контентом */
.content-section {
    width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
    /* Удалите эту строку, когда определите высоту секций */
    height: 100px;
  }
  
  /* Темная тема для секции */
  .content-section_theme_dark {
    background-color: #333;
    color: #fff;
  }
  
  /* Светлая тема для секции */
  .content-section_theme_bright {
    background-color: #f2f2f2;
    color: #333;
  }